<ion-view view-title="Control">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Current IP Address</div>
            <div class="item item-body">
                <div>
                    The current IP is: <b>{{settings.ip}}</b>
                </div>
            </div>
        </div>
        <button ng-click="send('click')" class="button button-block button-stable">
            Take Picture
        </button>
        <button ng-click="send('print')" class="button button-block button-positive">
            Print Picture
        </button>
    </ion-content>
</ion-view>
